<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body class="my-form-body">
    <div class="my-form">
    <form action="/auth/login" method="POST">
        <div class="user">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        </div>
        <div class="pass">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div class="end-of-form">
        <button type="submit">Login</button>
        <a href="/register">Register</a>
    </div>
    </form>
    
</div>
</body>
</html>
